/*
 * Colors
 * Do not use these variables directly.
 */

$white: #fff;
$black: #000;
$grey:  #999;

/*
 * Color variables
 * This is where you define the variables you use.
 */

$bg-color: $white;
$text-color: $black;
$tagline-color: $grey;